{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row column">
        <div class="medium-6 columns">
            <h3>Classement</h3>
        </div>
    </div>
{% endblock %}